{% extends "base.html" %}


{% block content %}
  <center>
      <div style="width: 1000px; height: 500px; background-image: url('/static/images/congo2.jpg'); background-size: 1000px 500px; background-repeat: no-repeat;">
          <h1 class="congo-heading">CONGRATULATIONS !</h1>
          <p class="congo-content">Next, You have to take a personaility test. Please be sincere with your answers.</p>
          <div><a class="congo-button" href="{% url 'personality_test' %}">Take Your Personality Test</a></div>
      </div>
  </center>

{% endblock content %}
