{% extends 'base.html' %}


{% block content %}
<br>
  <center>
<div class="faceD-back-img" style="background-image: url('/static/images/right-1.jpg');">
    <h1 class="congo-heading" style="color: black; padding-top: 50px;">Congratulation {{ request.user.username }}</h1>
    {% if not request.user.applicant.taken_apt_test %}
    <div><a class="btn btn-primary btn-lg" style="margin-top: 267px; background: #5d50c6;" href="/personality/detect">Aptitude Test</a></div> <!--previous href: {% url 'aptitude_test' %}-->
    {% elif not request.user.applicant.taken_personality_test %}
    <div><a class="btn btn-primary btn-lg" href="/personality/detect">Personality Test</a></div> <!--previous href: {% url 'personality_test' %}-->
    {% else %}
    <div class="alert alert-info messages" style="width: 75%; margin-top: 100px;">
        <span class="alert-info">
            You have already completed all tests. We would get back to you via email, Thanks.
        </span>
    </div>
    {% endif %}
</div>
  </center>
      <br>
{% endblock content %}
