{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}Log in{% endblock %}

{% block content %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
<center>
    <div class="login-container">
        <h2 div="login">LOGIN</h2>
        <p style="margin-left: 25.5;" class="text1">USING</p>
        <div class="google-btn" style="padding-top: 5px;">
          <div class="google-icon-wrapper">
            <img class="google-icon-svg" style="margin-top: 5px;" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
        </div>
         {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
        <p style="margin-left: 40.5;" class="text2" >OR</p>
        
        {% include "socialaccount/snippets/login_extra.html" %}
          
        {% else %}
        <p>Please <a href="{{ signup_url }}">sign up</a> first.</p>
        {% endif %}
        
        
        <form action="{% url 'account_login' %}" method="post">
            {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">LOG IN</button> 
        </form>

        <div class="login-submit-container">
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">Forgot Password?</a>
        <p class="sign-up">Not a member? <a href="{{ signup_url }}" style="color: #00a8cc;">Sign Up</a></p>
      </div>

     </div>
     <div>
    </div>
  </center>

{% endblock content %}
