{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% block title %}Password Reset{% endblock %}

{% block content %}
</br>
<center>
    <div id="profile-container">
      <h2 class="reset-heading">
        <div style="margin-top: 10px;">RESET YOUR PASSWORD</div>
      </h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
      <div class="description">
        <br>
        <p>Please enter your email and we'll send you a link that will reset your password.</p>
      </div>
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Reset Password</button> 
    </form>
      </br>
      <p>Please contact us if you are facing any issues.</p>
   </div>
   </br>
      </br>

</center>
{% endblock %}
