{% extends 'base.html' %}


{% block content %}
<center>
    <div class="login-container">
        <h2 div="login">LOGIN</h2>
        <p style="margin-left: 25.5;" class="text1">USING</p>
        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
        <script>
          function onSignIn(googleUser) {
            console.log('User is: ' + JSON.stringify(googleUser.getBasicProfile()));}
        </script>

        <p style="margin-left: 40.5;" class="text2" >OR</p>
        <form action="" method="post">
            {% csrf_token %}
          <input type="hidden" name="csrfmiddlewaretoken" value="pazkdYfzGly9s4OdlXpQebpB1fA1o5yqJZGFfEteMdnueYQ7OABkfSt7AT0Pm79B">
          {{ form.as_p }}
          <input type="hidden" name="next" value="">
          <input type="submit" class="btn btn-primary" value="Login">
        </form>

      <div class="login-submit-container">
        <a class="forgot-password" href="" >Forgot Password?</a>
        <p class="sign-up">Not a member? <a href="" style="color: #00a8cc;">Sign Up</a> </p>
      </div>
     </div>
     <div>
    </div>
  </center>

{% endblock content %}
