{% extends 'base.html' %}


{% block content %}

<center>
    <div id="profile-container">
      <h2 class="reset-heading">
        <div style="margin-top: 10px;">RESET YOUR PASSWORD</div>
      </h2>
      <div class="description">
        <br>
        <p>Please enter your email and we'll send you a link that will reset your password.</p>
      </div>
      <br><br>
      <form>
        <div>
          <input type="email" placeholder="Email Address" class="inp">
        </div>
      </form>
      <br>
      <div class="reset-button-property"><a href="" class="reset-button">RESET PASSWORD</a></div>
      <br>
      <a href="#" style="text-decoration: none; color: #222831;">Back To Log in</a>
   </div>
  </center>

{% endblock content %}
