{% extends 'base.html' %}
{% block title %}About us {% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/cup1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-3 ftco-animate text-center">
        <h1 class="mb-2 bread">Services</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>Services <i
              class="ion-ios-arrow-forward"></i></span>
            </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="ftco-section">
  <div class="container-fluid px-4">
    <div class="row d-flex justify-content-center">
      <div class="menu-content  col-lg-7">
          <div class="title text-center">
              <h1 class="mb-10">Our Offered Services</h1>
          </div>
      </div>
      <br>
  </div>
    <div class="row">
      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/child_study.jpg);"></div>
        <div class="text pt-4" >

          <h3><a href="ml#ml">For Childrens</a></h3>
          <p>Discover your perfect stream and subject combinations through a comprehensive assesments of your strengths and explore the right career opportunity aligned to your stream choice.</p>
          <br>
          <p><a href="{% url 'test.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>
      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/college.jpg);"></div>
        <div class="text pt-4">
          <h3><a href="data#dsa">College Students</a></h3>
          <p>Selection & Planning<br/>Discover your Perfect Career based on your Unique strengths & abilities, and get expert Career Counselling on your targeted career option to plan your course and college.</p>
          <p><a href="{% url 'test.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>
      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/caree.jpg);"></div>
        <div class="text pt-4">

          <h3><a href="iot#iot">Career Activities</a></h3>
          <p>Best Match for suitablity<br/>Discover your Perfect Career based on your Unique strengths & abilities, and get expert Career Counselling on your targeted career option to plan your course and college.</p>
          <p><a href="{% url 'test.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>
      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/graph%201.jpg);"></div>
        <div class="text pt-4">

          <h3><a href="polsci#ps">Psychometric Testing and Employment</a></h3>
          <p>
            Best Match for suitablity<br/>Discover your Perfect Career based on your Unique strengths & abilities, and get expert Career Counselling on your targeted career option to plan your course and college.</p>
          <p><a href="{% url 'test.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>

      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/guidance.jpg);"></div>
        <div class="text pt-4">

          <h3><a href="eeng#ee">Career Guidance</a></h3>
          <p>Individuals to help them acquire the knowledge, information, skills, and experience necessary to identify career options. Results in their social, financial and emotional well-being throughout.</p>
          <br>
          <br>
          <p><a href="{% url 'courses.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>
      <div class="col-md-4 course ftco-animate" >
        <div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/job%201.jpg);"></div>
        <div class="text pt-4">
          <h3><a href="mmanage#mm">Job and Career</a></h3>
          <p>Discover your next Career Move, accurately matched to your skills, interests and career goals through our comprehensive 5-Dimensional assesments and specialized career counselling.</p>
          <br>
          <br>
         <p><a href="{% url 'jobs.html' %}" class="btn btn-primary">Know More</a></p>
        </div>
      </div>
     
    </div>
  </div>
</section>

 
<br/>
<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
        <div class="img" style="background-image: url('https://raw.githubusercontent.com/mekacareereasy/tools/main/images/about.jpg'); "></div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">“Choose a job you love, and you will never have to work a day in your life." </h2>
        <p>When we’re young and we need a job, we’re willing to take any job. That’s a mistake. We are wasting our time
          working just for the money and we’re not getting any valuable experience in return. This investment, or lack
          thereof, results not only in a waste of time but with a waste of nerves and patience as well.</p>
        <p>Don’t like your job? You thought it would be temporary, but you ended up spending years in the same office?
          Here’s a drastic solution: quit! There’s no progress without risks. If you really have to work just for the
          money and you’re not ready to quit just yet, then try to learn as much as possible while you’re there.</p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-8 text-center heading-section ftco-animate">
      <h2 class="mb-4">Our Users</h2>
    </div>
    </div>
    <div class="row ftco-animate justify-content-center">
    <div class="col-md-12">
      <div class="carousel-testimony owl-carousel">
      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/oum.jpg);">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p></p>
          <p class="name">Oum Kale</p>
          <span class="position">Software Developer/Innovator</span>
        </div>
        </div>
      </div>

      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/praj.jpg)">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p class="name">Prajjawal Kumar</p>
          <span class="position">Backend Developer/Researcher</span>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </section>
{% endblock %}
