{% extends 'base.html' %}

{% block title %}Career Fields {% endblock %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url('https://raw.githubusercontent.com/mekacareereasy/tools/main/images/back.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Career Fields</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Career Paths <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
			<div class="container-fluid px-4">
				<div class="row">
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/machine-learning-and-algorithm.jpg);"></div>
						<div class="text pt-4" >

							<h3><a href="ml#ml">Machine Learning and Algorithms</a></h3>
							<p>“A baby learns to crawl, walk and then run.  We are in the crawling stage when it comes to applying machine learning.”</p>
							<p><a href="ml#ml" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/data-structure-and-algorithms.jpg);"></div>
						<div class="text pt-4">
							<h3><a href="data#dsa">Data Structure and Algorithms</a></h3>
							<p>“Algorithms are not arbiters of objective truth and fairness simply because they're math.”</p>
							<p><a href="data#dsa" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/internet-of-things.jpg);"></div>
						<div class="text pt-4">

							<h3><a href="iot#iot">Internet of Things</a></h3>
							<p>“If you think that the internet has changed your life, think again. The Internet of Things is about to change it all over again!”</p>
							<br>
							<p><a href="iot#iot" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/political-sciences.jpg);"></div>
						<div class="text pt-4">

							<h3><a href="polsci#ps">Political Science</a></h3>
							<p>
								“Loyalty to country ALWAYS. Loyalty to government, when it deserves it.”</p>
								<br>
								<br>
							<p><a href="polsci#ps" class="btn btn-primary">Know More</a></p>
						</div>
					</div>

					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/ElectricalEngineering.png);"></div>
						<div class="text pt-4">

							<h3><a href="eeng#ee">Electrical Engineering</a></h3>
							<p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
							<p><a href="eeng#ee" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/Marketingmanagement.png);"></div>
						<div class="text pt-4">
							<h3><a href="mmanage#mm">Marketing Management</a></h3>
							<p>“It's not what you sell that matters as much as how you sell it!”</p>
							<br>
							<br>


							<p><a href="mmanage#mm" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/Graphicdesigning.png);"></div>
						<div class="text pt-4">

							<h3><a href="gdesign#gd">Graphic Design</a></h3>
							<p> “There are three responses to a piece of design – yes, no, and WOW!Wow is the one to aim for"</p>
							<br>
							<p><a href="gdesign#gd" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
					<div class="col-md-3 course ftco-animate">
						<div class="img" style="background-image: url(https://raw.githubusercontent.com/mekacareereasy/tools/main/images/HR.png);"></div>
						<div class="text pt-4">

							<h3><a href="hrmanage#hrm">Human Resource Management</a></h3>
							<p> “If you think hiring professionals is expensive, try hiring amateurs.”</p>
							<br>
							
							<p><a href="hrmanage#hrm" class="btn btn-primary">Know More</a></p>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}
