{% extends 'base.html' %}
{% load static %}
{% block style %}
<style type="text/css">
	

	.rect {
		position: relative;
		z-index: 1;
		background: white;
		width: 17rem;
		height: 12rem;
		padding-top: 3.5vmin;
		margin: 1rem;
		border-radius: 0.5em;
		box-shadow: 1px 2px 50px 0px;
	}

	.rect h1 {
		font-size: 3rem;
		color: tomato;
	}

	.home-border {
		border: rgb(3, 90, 166) solid 6px;
		border-style: none none solid none;
	}
	
	
</style>
{% endblock %}
{% block content %}


<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image:url(/static/images/edu1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-md-6 ftco-animate">
					<h1 class="mb-4">Education Needs Complete Solution</h1>
					<p>Discover your stream and subject combination through a comprehensive assesment of your strengths.
					</p>
					<p><a href="{% url 'contact.html' %}" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image:url(/static/images/passion.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-start"
				data-scrollax-parent="true">
				<div class="col-md-6 ftco-animate">
					<h1 class="mb-4">Pursue Your Passion </h1>
					<p>Your Career path needs to reflect your goals and needs.</p>
					<p><a href="{% url 'contact.html' %}" class="btn btn-primary px-4 py-3 mt-3">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="services-area section-gap">
	<center>
	 <div class="container">
			 
			 <br><br>
	   <div class="row">
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-pie-chart"></span>
			 <a href="#"><h4>For Childrens</h4></a>
			 <p>
				 Stream & Subject Selection
				 <br>
				 Discover your perfect stream and subject combinations through a comprehensive assesments of your strengths and explore the right career opportunity aligned to your stream choice.
			  </p>
		   </div>
		 </div>
   
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-laptop-phone"></span>
			 <a href="#"><h4>College Students</h4></a>
			 <p>
				Selection & Planning
				<br>
				Discover your Perfect Career based on your Unique strengths & abilities, and get expert Career Counselling on your targeted career option to plan your course and college.
				<br>
			 </p>
		   </div>
		 </div>
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-camera"></span>
			 <a href="#"><h4>Career Activities</h4></a>
			 <p>
				Best Match for suitablity
				<br>
				Evaluate and ascertain your suitability for suggested stream/careers with Interactive activities. Zero-in on your perfect by matching specific  insights about your daily schedule, Work style, and more, with your best-fit matches.
			 </p>
		   </div>
		 </div>
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-picture"></span>
			 <a href="#"><h4>Psychometric Testing and Employment</h4></a>
			 <p>
			 For employers, psychometric testing could help to gauge the future performance of a candidate and hopefully improve employee retention by making successful hiring decisions.</p>
		   </div>
		 </div>
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-tablet"></span>
			 <a href="#"><h4>Career Guidance</h4></a>
			 <p>
			 Individuals to help them acquire the knowledge, information, skills, and experience necessary to identify career options. Results in their social, financial and emotional well-being throughout.</p>
		   </div>
		 </div>
		 <div class="col-lg-4 col-md-6">
		   <div class="single-services">
			 <span class="lnr lnr-rocket"></span>
			 <a href="#"><h4>Job and Career</h4></a>
			 <p>
			   Discover your next Career Move, accurately matched to your skills, interests and career goals through our comprehensive 5-Dimensional assesments and specialized career counselling.
			 </p>
		   </div>
		 </div>
	   </div>
	 </div>
	 </center>
   </section>
   <section class="ftco-section ftco-no-pt ftc-no-pb">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
				<div class="img" style="background-image: url(/static/images/wom.jpg);"></div>
			</div>
			<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
	  <h2 class="mb-4">Things That Matter In Your Career</h2>
				<p>What do you think realizing money is everything?</p>
				<div class="row mt-5">
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
							<div class="text pl-3">
								<h3>Identify Need</h3>
								<p>Do you really need five cars for you and your spouse in the driveway?</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
							<div class="text pl-3">
								<h3>Impact</h3>
								<p>Do you want a job that makes people happy? One that solves big problems? Do you want a giant salary?</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
							<div class="text pl-3">
								<h3>Right Guidance</h3>
								<p>Every time you don't follow your inner guidance, you feel a loss of energy, loss of power, a sense of spiritual deadness.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
							<div class="text pl-3">
								<h3>Instinct</h3>
								<p>Pay attention to which job descriptions spark your interest, and which do not.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
							<div class="text pl-3">
								<h3>Environment</h3>
								<p>Begin by looking at the type of place you’d prefer to spend your working days. Would you like to join a huge corporation?</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
							<div class="text pl-3">
								<h3>Career and Sports</h3>
								<p>Sports is one of the rewarding career options of the country with lots of job opportunities.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section bg-lightt" style="overflow:hidden;">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<center>
				<div class="intro col-lg-6">
					
						<h2 class="text-center home-border" style="  font-weight: bold;
							margin-bottom: 40px;padding-top: 40px;color:black">Path to make Career Easy</h2>
					
				</div>
				</center>
				<p style="text-align: center;margin-bottom: 3rem;">Based on Validated Theories
					Career Chela psychometric assessments are a product of hard research and strong alignment to renown
					psychometric theories and get hired at right place.</p>
				<ul class="timeline">
					<li>
						<div>
							<img class="img-responsive timeline-image"src="/static/images/wom.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h2>Career Guidance</h4>
							</div>
							<div class="timeline-body">
								<p class="text-muted">
									Individuals to help them acquire the knowledge, information, skills, and experience
									necessary to identify career options. Results in their social, financial and
									emotional well-being throughout..
								<p class="mb-0" style="margin-top:1rem;"><a href="{% url 'courses.html' %}" class="btn btn-primary">Read More
										<span class="ion-ios-arrow-round-forward"></span></a></p>
								</p>
							</div>
						</div>
						<div class="line" style="color:purple"></div>
					</li>
					<li class="timeline-inverted" >
						<div>
							<img class=" timeline-image img-responsive"src="/static/images/jobs.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h2>Psychometric Testing and Employment</h2>
							</div>
							<div class="timeline-body">
								<p class="text-muted" >
									Psychometric Testing and Employment For employers, psychometric testing could help
									to gauge the future performance of a candidate and hopefully improve employee
									retention by making successful hiring decisions.
								<p class="mb-0" style="margin-top:1rem;"><a href="{% url 'test.html' %}" class="btn btn-primary">Read More
										<span class="ion-ios-arrow-round-forward"></span></a></p>
								</p>
							</div>
						</div>
						<div class="line"></div>
					</li>
					<li>
						<div class="timeline-image">
							<img class="timeline-image img-responsive"src="/static/images/jobss.jpg" alt="">
						</div>
						<div class="timeline-panel">
							<div class="timeline-heading">
								<h2>Job and Career</h2>
							</div>
							<div class="timeline-body">
								<p class="text-muted" >
									Discover your next Career Move, accurately matched to your skills, interests and
									career goals through our comprehensive 5-Dimensional assesments and specialized
									career counselling.
								<p class="mb-0" style="margin-top:1rem;"><a href="{% url 'jobs.html' %}" class="btn btn-primary">Read More
										<span class="ion-ios-arrow-round-forward"></span></a></p>
								</p>
							</div>
						</div>

				</ul>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-counter img" id="section-counter"
	style="background-image: url(/static/images/bg_3.jpg);" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center"
					style="background-image: url(/static/images/about-2.jpg);">
					<div class="video justify-content-center">
						<a href="#" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
							<span class="ion-ios-play"></span>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 heading-section heading-section-white ftco-animate pl-lg-5 pt-md-0 pt-5">
				<h2 class="mb-4">"Success is not final; failure is not fatal: It is the courage to continue that
					counts."</h2>
			</div>
		</div>
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="col-lg-12">
				<div class="row d-md-flex align-items-center">
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="5">0</strong>
								<span>Certified Teachers</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="100">0</strong>
								<span>Students</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="227">227</strong>
								<span>Jobs</span>
							</div>
						</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="2">2</strong>
								<span>Tests</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<center>
				<div class="intro col-lg-6">
					
						<h2 class="text-center home-border" style="  font-weight: bold;
								margin-bottom: 40px;padding-top: 40px;color:black">Our Gallery</h2>
					
				</div>
				</center>
				<ul class="gallery_box">
					<li>
						<a href="#0"><img src="/static/images/course-5.jpg" style="height:500px;width:450px">
							<div class="box_data">
								<span>Doubt <br>Clearance</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#0"><img src="/static/images/course-4.jpg" style="height:320px;width:450px">
							<div class="box_data">
								<span>Mentors</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#0"><img src="/static/images/course-3.jpg" style="height:500px;width:420px">
							<div class="box_data">
								<span>Interactive<br>Sessions</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#0"><img src="/static/images/edu2.jpg" style="height:300px;width:430px">
							<div class="box_data">
								<span>Education</span>
							</div>
						</a>
					</li>
					<li style="    position: relative;
				  top: -134px;">
						<a href="#0"><img src="/static/images/bg_12.jpg" style="height:500px;width:460px">
							<div class="box_data">
								<span>Career <br>Guidance</span>
							</div>
						</a>
					</li>
					<li>
						<a href="#0"><img src="/static/images/course-7.jpg" style="height:300px;width:430px">
							<div class="box_data">
								<span>Courses</span>
							</div>
						</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}