{% extends 'base.html' %}

{% block title %}Internet Of Things {% endblock %}
{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/back.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Career Fields</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Career Paths <i class="ion-ios-arrow-forward"></i></span></p>
       
      </div>

      </div>
    </div>
  </section>

  <section class="ftco-section">
          <div class="container-fluid px-4">
              <div class="row">
                  <div class="col-md-3 course ftco-animate">
                      <div class="img" style="background-image: url('/static/images/course-1.jpg');"></div>
                      <div class="text pt-4" >

                          <h3><a href="#">Internet of things</a></h3>
                          <p>In computer science, a data structure is a data organization, management, and storage format that enables efficient access and modification.[1][2][3] More precisely, a data structure is a collection of data values, the relationships among them, and the functions or operations that can be applied to the data.</p>
                          <p>Data structures serve as the basis for abstract data types (ADT). The ADT defines the logical form of the data type. The data structure implements the physical form of the data type.[5]

                            Different types of data structures are suited to different kinds of applications, and some are highly specialized to specific tasks. For example, relational databases commonly use B-tree indexes for data retrieval,[6] while compiler implementations usually use hash tables to look up identifiers.[7]
                            
                            Data structures provide a means to manage large amounts of data efficiently for uses such as large databases and internet indexing services. Usually, efficient data structures are key to designing efficient algorithms. Some formal design methods and programming languages emphasize data structures, rather than algorithms, as the key organizing factor in software design. Data structures can be used to organize the storage and retrieval of information stored in both main memory and secondary memory.[8]</p>
                      <p>Data structures are generally based on the ability of a computer to fetch and store data at any place in its memory, specified by a pointer—a bit string, representing a memory address, that can be itself stored in memory and manipulated by the program. Thus, the array and record data structures are based on computing the addresses of data items with arithmetic operations, while the linked data structures are based on storing addresses of data items within the structure itself.

                        The implementation of a data structure usually requires writing a set of procedures that create and manipulate instances of that structure. The efficiency of a data structure cannot be analyzed separately from those operations. This observation motivates the theoretical concept of an abstract data type, a data structure that is defined indirectly by the operations that may be performed on it, and the mathematical properties of those operations (including their space and time cost).[9]</p>
                    <p>There are numerous types of data structures, generally built upon simpler primitive data types:[10]

                        An array is a number of elements in a specific order, typically all of the same type (depending on the language, individual elements may either all be forced to be the same type, or may be of almost any type). Elements are accessed using an integer index to specify which element is required. Typical implementations allocate contiguous memory words for the elements of arrays (but this is not always a necessity). Arrays may be fixed-length or resizable.
                        A linked list (also just called list) is a linear collection of data elements of any type, called nodes, where each node has itself a value, and points to the next node in the linked list. The principal advantage of a linked list over an array is that values can always be efficiently inserted and removed without relocating the rest of the list. Certain other operations, such as random access to a certain element, are however slower on lists than on arrays.
                        A record (also called tuple or struct) is an aggregate data structure. A record is a value that contains other values, typically in fixed number and sequence and typically indexed by names. The elements of records are usually called fields or members.
                        A union is a data structure that specifies which of a number of permitted primitive types may be stored in its instances, e.g. float or long integer. Contrast with a record, which could be defined to contain a float and an integer; whereas in a union, there is only one value at a time. Enough space is allocated to contain the widest member datatype.
                        A tagged union (also called variant, variant record, discriminated union, or disjoint union) contains an additional field indicating its current type, for enhanced type safety.
                        An object is a data structure that contains data fields, like a record does, as well as various methods which operate on the data contents. An object is an in-memory instance of a class from a taxonomy. In the context of object-oriented programming, records are known as plain old data structures to distinguish them from objects.[11]</p>   
                    </div>
                  </div>
                  </div>
      </section>

      <footer class="ftco-footer ftco-bg-dark ftco-section" style="position: relative;">
          <div class="container">
              <div class="row mb-5">
                  <div class="col-md-6 col-lg-3">
                      
                      <div class="ftco-footer-widget mb-5">
                          <h2 class="ftco-heading-2">Keep in Touch</h2>
                          <div class="block-23 mb-3">
                              <ul>
                                  <li><span class="icon icon-map-marker"></span><span class="text">School of Computer Science & Engg. KIIT Deemed to be University, Bhubaneswar, INDIA 751024</span></li>
                                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 9975667652, 8178778264</span></a></li>
                                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">careerchela@gmail.com</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                      <div class="ftco-footer-widget mb-5">
                          <h2 class="ftco-heading-2">Recent Activities</h2>
                          <div class="block-21 mb-4 d-flex">
                              <a class="blog-img mr-4" style="background-image: url(/static/images/sky1.jpeg);"></a>
                              <div class="text">
                                  <h3 class="heading" ><a href="https://medium.com/@oumkalecoding/placement-coding-interview-preparation-for-juniors-fe99184df6ba" 
      >Placement and Coding Interview Preparation for Juniors</a></h3>
                                  <div class="meta">
                                      <div><a href="#"><span class="icon-calendar"></span> Date</a></div>
                                      <div><a href="#"><span class="icon-person"></span> User</a></div>
                                      <div><a href="#"><span class="icon-chat"></span> Age</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                      <div class="ftco-footer-widget mb-5 ml-md-4">
                          <h2 class="ftco-heading-2">CareerChela</h2>
                          <ul class="list-unstyled">
                              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Home</a></li>
                              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>About</a></li>
                              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Services</a></li>
                              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Deparments</a></li>
                              <li><a href="#"><span class="ion-ios-arrow-round-forward mr-2"></span>Contact</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                      <div class="ftco-footer-widget mb-5">
                          <h2 class="ftco-heading-2">Subscribe Us!</h2>
                          <form action="#" class="subscribe-form">
                              <div class="form-group">
                                  <input type="text" class="form-control mb-2 text-center" placeholder="Enter email address">
                                  <input type="submit" value="Subscribe" class="form-control submit px-3">
                              </div>
                          </form>
                      </div>
                      <div class="ftco-footer-widget mb-5">
                          <h2 class="ftco-heading-2 mb-0">Connect With Us</h2>
                          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
                              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                          </ul>
                      </div>
                      
                  </div>
              </div>
              <footer>
                <p style="width: 100%; text-align: center; color:#035aa6;">Founded by CareerChela ❤️</p>
              </footer>
          </div>
      </footer>
      
      
      {% endblock %}