@import url('https://fronts.googleeapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&diplay=swap');


*{    
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',Sans-serif;
}
#navbar {
    display:flex;
    align-items:center;
}
#navbar ul{
    display:flex;
}
#navbar::before{
    content:"";
    background-color:rgb(126, 126, 126);
    position: absolute;
    height: 15%;
    width:100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul li{
    color:black;
    list-style: none;
    font-size:1.3rem;
}
#navbar ul li a{
    display:block;
    padding: 3px 22px;
    border-radius:20px;
    text-decoration:none;
}
#navbar ul li a:hover{
    color:blue;


}
.contact 
{
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display: flex;
    margin-top: 50px;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: rgb(126, 126, 126)
    
}

.content{
    position: relative;
    top: 50px;
}
.content h2
{
    font-size:36px;
    font-weight:500;
    color:rgb(236, 236, 16);
    padding:25px 25px;
    margin: auto;
    text-align: center;   
    


}
.container
{
    position: relative;
    width:90%;
    margin-bottom: 150px;
}

.contactInfo{
    position: relative;
    float: left;
    padding: 5px 10px;
    

}
.contactForm
{   position: relative;
    width:40%;
    
    float: right;

    

}
.contactForm.inputBox{

    position:relative;
    width:100%;
    margin-top:10p;

}