{% extends 'base.html' %}

{% block title %}Jobs {% endblock %}
{% block content %}

  <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/job-1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Jobs</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Jobs <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>

  </section>
<div class="outerDiv">
  <div class="leftDiv" style="border-radius: 100%; background-color: #eeeeee;">
    <center style="margin-top: 100px;">
		<h1 class="display-6">Jobs Related</h1>
		<p class="lead">From all career releated fields.</p>
    <hr class="my-4" style="width: 400px;">
    <p>Coming soon.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">See Details</a>
    </p>
  </center>
	</div>
  <div class="rightDiv" style="border-radius: 100%; background-color: #eeeeee;">
  <center style="margin-top: 100px;">
	<h1 class="display-6">Research Related</h1>
  <p class="lead">Research Internships and Labs in India.</p>
  <hr class="my-4" style="width: 400px;">
  <p>Available.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'jobs.html' %}" role="button">See Details</a>
  </p>
</center>
	</div>
</div>
  <br><br>

{% endblock %}
