{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}

<center>
  <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/course-5.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Team</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'personality_home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Team <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
  <img src="/static/images/oum.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Oum Kale</h4><br>
      <span class="position mb-1">Project Head/Founder at Make Career Easy</span><br>
      <span class="position mb-1">SDE Intern at MayaData | Former Research Intern at IIT Jammu | International Rated Chess Player</span><br>
        <p class="test-content">I am fascinated by the extensive impact computers can have in solving real world.</p>
          <p><a >+91 9975667652</a></p>
            <p><a href="mailto:1705022@kiit.ac.in">1705022@kiit.ac.in</a></p>
            <ul class="ftco-social text-center">
              <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <br>
            <img src="/static/images/praj.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Prajjwal Kumar</h4><br>
      <span class="position mb-1">Project Vice Head/COO at Make Career Easy</span><br>
      <span class="position mb-2">Research Lead</span>
      <p class="test-content">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        <p><a >+91 8178778264</a></p>
        <p><a href="mailto:1706241@kiit.ac.in">1706241@kiit.ac.in</a></p>
        <ul class="ftco-social text-center">
          <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
    <section class="ftco-section testimony-section" style="padding-top: 0px;">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4" style="margin-top: 30px;">Thanks to Contributors</h2>
          </div>
          </div>
          <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/kanishk.jpeg);">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p></p>
                <p class="name">Kanishk Gupta</p>
                <span class="position">Back-End Developer</span>
                <p>It was a great experience to be a part of Make Career Easy, I was fortunate enough to have experienced many different sides of what goes into a project.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/srijita.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Srijita Mallick</p>
                <span class="position">Back-End Developer</span>
                <p>Joining Make Career Easy gave me the chance to grow into a better developer and learn from everyone in the team. I learn something new everyday and couldn't be more grateful.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/ankit.jpg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Ankit Srivastava</p>
                <span class="position">Front-End Developer</span>
                <p>Over the past few days, I have learned more than I could have ever imagined. I am so excited to be equipped with the knowledge that I have gained.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/shreya.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Shreya</p>
                <span class="position">Front-End Developer</span>
                <p>It was an amazing experience working with the team. I got a lot of insight on the area I worked for and I'm really thankful of the team for giving me this surreal opportunity.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/harsh.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Harsh Kumar</p>
                <span class="position">Security Analyst</span>
                <p>Working with Make Career Easy was a great experience for me it made to me learn a lot about network security. All the members of the team are cooperative and helpfull in each and every field</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/pallabika.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Pallabika Bora</p>
                <span class="position">Graphics Designer</span>
                <p>Over the past few days, I have learned more than I could have ever imagined. I am so excited to be equipped with the knowledge that I have gained.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/nimisha.jpg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Nimisha Das</p>
                <span class="position">UI/UX Designer</span>
                <p>For the last few months, I besides facing challenges also learned many new concepts that will help me in my future projects. Also, I would like to thank the entire team which was extremely supportive and reliable.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/ankita-bera.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Ankita Bera</p>
                <span class="position">ML Team</span>
                <p>I had an enriching experience while working in Make Career Easy. I learnt about the extensive components of the machine learning pipeline, and I am thankful for this opportunity given to me.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/lupita.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Lupita Dey</p>
                <span class="position">ML Team</span>
                <p>Being a part of this wonderful team helped me to learn, grow and think out of the box! The intelligence behind this website is absolutely uncanny, I cannot be more grateful to be a part of this journey</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/muskan.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Muskan Gupta</p>
                <span class="position">Front-End Developer</span>
                <p>Coming to Makecareereasy it  always felt like I was working for my own site. I am so glad to see my growth while working as a front end developer with such cooperative team members</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/shuvam.jpg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Shuvam Dwivedi</p>
                <span class="position">Front-End Developer</span>
                <p>Being new to the area of web development, I had my apprehensions before joining MakeCareerEasy. However, my journey here has been one with immense learning. Thank you to the entire team for helping and guiding me throughout.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/saurav.jpg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Saurav Kumar Singh</p>
                <span class="position">Front-End Developer</span>
                <p>Working at make career easy, has helped me learn a lot of things, it taught me the power of team effort. I feel fortunate to be part of this team.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/hrith.jpeg)">
                <ul class="ftco-social text-center" style="margin-top: 8rem; ">
                  <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Hrithik Tiwari</p>
                <span class="position">Front-End Developer/Video Editor</span>
                <p>I actively participated in all the activities with great enthusiasm ,it was  more than satisfying for me. It felt like for the first time I had accomplished something on my own.</p>
              </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
        </section>
    
            <div class="col-md-2 col-lg-10 ftco-animate" style="margin-bottom: 30px;">
              <h2> Our Mission </h2>
              <div class="staff">
                Make Career Easy is proud to provide free or low-cost career and personality assessments for charities, non-profits,
                and schools. If you need to provide reliable career guidance to disadvantaged students or adults, we are here to
                help.
          
                Assessments can be costly. Often, they are out of the budget for those who need them most. Our mission is to
                ensure that professional quality, scientifically validated career and personality assessments are available to
                everyone who can benefit from them.
          
                Through this program we offer the Career Personality Profile (a career interests and personality inventory based
                on the Big Five personality models) and career guidance.
          
                The assessments are completed online, and are designed to integrate with our career information database. Your
                group's leader has access to a system that gives him or her full control over the group's assessment process, from
                signing up participants to viewing their results.
          
                If this sounds like a program that could benefit your organization, please email us and we will contact you to
                discuss your needs.
          
                We look forward to hearing from you!
              </div>
            </div>
</center>
<br>
<br>
{% endblock content %}
