{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}

<center>
  <section class="hero-wrap hero-wrap-2" style="background-image: url('https://raw.githubusercontent.com/mekacareereasy/tools/main/images/course-5.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md-9 ftco-animate text-center">
          <h1 class="mb-2 bread">Team</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'personality_home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Team <i class="ion-ios-arrow-forward"></i></span></p>
        </div>
      </div>
    </div>
  </section>
  <img src="https://raw.githubusercontent.com/mekacareereasy/tools/main/images/oum.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Oum Kale</h4><br>
      <span class="position mb-1">Project Head</span><br>
        <p class="test-content">I am fascinated by the extensive impact computers can have in solving real world.</p>
          <p><a >+91 9975667652</a></p>
            <p><a href="mailto:1705022@kiit.ac.in">1705022@kiit.ac.in</a></p>
            <ul class="ftco-social text-center">
              <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
            <br>
            <img src="https://raw.githubusercontent.com/mekacareereasy/tools/main/images/praj.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Prajjwal Kumar</h4><br>
      <span class="position mb-1">Project Vice Head</span><br>
      <p class="test-content">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        <p><a >+91 8178778264</a></p>
        <p><a href="mailto:1706241@kiit.ac.in">1706241@kiit.ac.in</a></p>
        <ul class="ftco-social text-center">
          <li class="ftco-animate"><a href="#"><span class="icon-linkedin"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>

            <div class="col-md-2 col-lg-10 ftco-animate" style="margin-bottom: 30px;">
              <h2> Our Mission </h2>
              <div class="staff">
                Make Career Easy is proud to provide free or low-cost career and personality assessments for charities, non-profits,
                and schools. If you need to provide reliable career guidance to disadvantaged students or adults, we are here to
                help.
          
                Assessments can be costly. Often, they are out of the budget for those who need them most. Our mission is to
                ensure that professional quality, scientifically validated career and personality assessments are available to
                everyone who can benefit from them.
          
                Through this program we offer the Career Personality Profile (a career interests and personality inventory based
                on the Big Five personality models) and career guidance.
          
                The assessments are completed online, and are designed to integrate with our career information database. Your
                group's leader has access to a system that gives him or her full control over the group's assessment process, from
                signing up participants to viewing their results.
          
                If this sounds like a program that could benefit your organization, please email us and we will contact you to
                discuss your needs.
          
                We look forward to hearing from you!
              </div>
            </div>
</center>
<br>
<br>
{% endblock content %}
