{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}

<center>
    <div class="text pt-5 text-center">
      <img src="/static/images/arup.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h3>Dr. Arup Abhinna Acharya</h3>
      <span class="position mb-2">Assistant Professor, Dean(II) at KIIT University, India</span>
        <p></p>
        <p class="test-content">Object Oriented Systems, Software Testing, Software Cost Estimation, Security Testing, and Data mining</p>
        <p><a>+91 9861058079</a></p>
        <p><a href="mailto:aacharyafcs@kiit.ac.in">aacharyafcs@kiit.ac.in</a></p>

        <ul class="ftco-social text-center">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="https://www.facebook.com/arupacharya.kiit"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
          <li class="ftco-animate"><a href="https://www.linkedin.com/in/dr-arup-abhinna-acharya-14849917/"><span class="icon-linkedin"></span></a></li>
        </ul>
    </div>
  <div class="outerDiv" style="margin-top: 30px; margin-bottom: 50px;">
    <div class="leftDiv" style="border-radius: 20px;">
      <img src="/static/images/oum.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Oum Kale</h4><br>
      <span class="position mb-1">SDE at MayaData</span>
        <p class="test-content">I am fascinated by the extensive impact computers can have in solving real world.</p>
          <p><a >+91 9975667652</a></p>
            <p><a href="mailto:1705022@kiit.ac.in">1705022@kiit.ac.in</a></p>
            <ul class="ftco-social text-center">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
      </div>
    <div class="rightDiv" style="border-radius: 20px;">
      <img src="/static/images/praj.jpg" style="height: 200px; width: 200px; margin-top: 10px; border-radius: 100%;">
      <h4 class="test-heading">Prajjawal Kumar</h4><br>
      <span class="position mb-2">Research Lead</span>
      <p class="test-content">I am an ambitious workaholic, but apart from that, pretty simple person.</p>
        <p><a >+91 8178778264</a></p>
        <p><a href="mailto:1706241@kiit.ac.in">1706241@kiit.ac.in</a></p>
        <ul class="ftco-social text-center">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
    </div>
  </div>
    <section class="ftco-section testimony-section" style="padding-top: 0px;">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4" style="margin-top: 30px;">Our Team</h2>
          </div>
          </div>
          <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/kanishk.jpeg);">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p></p>
                <p class="name">Kanishk Gupta</p>
                <span class="position">Back-End Developer</span>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/srijita.jpeg)">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Srijita Mallick</p>
                <span class="position">Back-End Developer</span>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/ankit.jpg)">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Ankit Srivastava</p>
                <span class="position">Front-End Developer</span>
                <p>Over the past few days, I have learned more than I could have ever imagined. I am so excited to be equipped with the knowledge that I have gained.</p>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/shreya.jpeg)">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Shreya</p>
                <span class="position">Front-End Developer</span>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/harsh.jpeg)">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Harsh Kumar</p>
                <span class="position">Security Analyst</span>
              </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap d-flex">
              <div class="user-img mr-4" style="background-image: url(/static/images/hrithik.jpeg)">
              </div>
              <div class="text ml-2">
                <span class="quote d-flex align-items-center justify-content-center">
                <i class="icon-quote-left"></i>
                </span>
                <p class="name">Hrithik Tiwari</p>
                <span class="position">Front-End Developer/Video Editor</span>
              </div>
              </div>
            </div>
            </div>
          </div>
          </div>
        </div>
        </section>
    
            <div class="col-md-2 col-lg-10 ftco-animate" style="margin-bottom: 30px;">
              <h2> Our Mission </h2>
              <div class="staff">
                Career Chela is proud to provide free or low-cost career and personality assessments for charities, non-profits,
                and schools. If you need to provide reliable career guidance to disadvantaged students or adults, we are here to
                help.
          
                Assessments can be costly. Often, they are out of the budget for those who need them most. Our mission is to
                ensure that professional quality, scientifically validated career and personality assessments are available to
                everyone who can benefit from them.
          
                Through this program we offer the Career Personality Profile (a career interests and personality inventory based
                on the Big Five personality models) and career guidance.
          
                The assessments are completed online, and are designed to integrate with our career information database. Your
                group's leader has access to a system that gives him or her full control over the group's assessment process, from
                signing up participants to viewing their results.
          
                If this sounds like a program that could benefit your organization, please email us and we will contact you to
                discuss your needs.
          
                We look forward to hearing from you!
              </div>
            </div>
</center>
<br>
<br>
{% endblock content %}
